*.log
*.aux
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.idx
*.ind
*.ilg
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.nav
*.snm
*.vrb
*.xdv
*.dvi
*.ps
*.pdfsync
